@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
body
{
    background: black;
}
.head
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
}
img
{
    height:100px;
    width:8%;
}
h1
{
    font-family: 'Jacques Francois Shadow', cursive;
    font-size:280%;
    margin-left: 1%;
    color:white;
}
h2
{
    font-family: 'Jacques Francois Shadow', cursive;
    font-size:220%;
    color:white;
}
h3
{
    font-family: 'Jacques Francois Shadow', cursive;
    font-size:200%;
    color:white;
}
.box
{
    display: flex;
    flex-direction: row;
}
.users
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border:2px solid lime;
    overflow:auto;
    height:650px;
    margin-top: 1%;
}
b
{
    font-family: 'Delius Swash Caps';
    font-size: 180%;
    color:white;
}
.mess
{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    border:2px solid lime;
    overflow: auto;
    height:640px;
    width:60%;
    margin-top: 1%;
}
.onemess
{
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    margin-left: 2%;
}
.input
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}
input
{
    width:94%;
    height:40px;
}
button
{
    background-color: darkgreen;
    width:7%;
    margin-left:1%;
}